.NoteCard {
    position: relative;

    p {
        overflow: hidden;
    }

    &--loading {
        opacity: 0.5;
    }

    &--placeholder {
        p {
            background-color: lightgrey;
            color: lightgrey;
            border-radius: 5px;
            margin-top: 10px;
        }
    }
}

.NoteCard_CircularProgress {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.NoteCard_CardHeader_Typography {
    font-size: 12px;
    margin-bottom: 5px;
}
