.MainLayout {
    .MainLayout_Content {
        max-width: 600px;
        margin: 0 auto;
        padding: 0px 10px;
    }
    .MainLayout_DrawerList {
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}
.MainLayout_TopBar {
    .MainLayout_TopBar_SearchContainer {
        position: relative;
        margin-left: 24px;
    }
    .MainLayout_TopBar_SearchIconContainer {
        height: 100%;
        width: 56px;
        position: absolute;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .MainLayout_TopBar_SearchIconContainer_SearchInput {
        & {
            input {
                padding: 8px 8px 8px 56px;
            }
        }
    }
}
