.Settings {
    .Settings_Button_Logout {
        width: 100%;
    }

    .Settings_Export,
    .Settings_Import {
        button {
            display: block;
            width: 100%;
        }
    }
}
