@import '../../styles/variables';

.Settings {
    .Settings_Button_Logout {
        width: 100%;
    }

    .Settings_Export,
    .Settings_Import {
        button {
            display: block;
            width: 100%;
        }
    }
    .CardElementContainer {
        border: 1px solid $color-grey;
        padding: 20px;
        border-radius: 5px;
    }
}
